common:
  interval_time: 300
  proxies:
    http: http://127.0.0.1:7890
    https: http://127.0.0.1:7890

alist:
  base_url: https://www.example.com
  # base_url: http://127.0.0.1:port
  token: alist-xxx
  downloader: qBittorrent
  download_path: Onedrive/Anime

mikan:
  subscribe_url: 
    - https://mikanani.me/RSS/MyBangumi?token=xxx
    - https://mikanani.me/RSS/rss2
  regex_pattern:
    简体: "(简体|简中|简日|CHS)"
    繁体: "(繁体|繁中|繁日|CHT|Baha)"
    1080p: "(X1080|1080P)"
    非合集: "^(?!.*(\\d{2}-\\d{2}|合集)).*"
  filters:
    - 1080p
    - 非合集
    
notification:
  enable: false
  interval_time: 300
  bots:
    - bot_type: telegram
      token: xxx:xxx
      user_id: 123456
    - bot_type: pushplus
      token: xxx
      channel: wechat

rename: 
  enable: false
  extractor:
    extractor_type: openai
    api_key: sk-***
    base_url: https://api.openai.com/v1
    model: gpt-4o
    output_type: json_object
  rename_format: "{name} S{season:02d}E{episode:02d}"
  remap: 
    enable: true
    cfg_path: "remap.yaml"

bot_assistant:
  enable: false
  bots:
    - bot_type: telegram
      token: xxx

dev:
  log_level: INFO
